<html>
    <head>
        <title>Codeforces Data App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
        <style >
            .HEAD{
                text-align: center;
                margin-top: 50px;
                margin-bottom: 25px;
            }
            
            .HEAD i{
                font-size: 1.0em;
            }
            </style>
    </head>
    <body>
        